@model IEnumerable<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}
@if (Model.Count() > 0)
{
<table class="rwd-table">
    <tr>
        <th>Name</th>
        <th>Zip</th>
        <th colspan="2">Details</th>
        <th>Total</th>
        <th></th>
    </tr>
    @foreach (Order o in Model)
        {
    <tr>
        <td data-th="Name">@o.Name</td>
        <td data-th="Zip">@o.Zip</td>
        <td data-th="Details">Product</td>
        <td data-th="Details">Quantity</td>
        <td>
            <form asp-action="MarkShipped" method="post">
                <input type="hidden" name="orderId" value="@o.OrderID" />
                <button type="submit" class="btn btn-sm btn-danger">
                    Enviar.
                </button>
            </form>
        </td>
    </tr>
    @foreach (CartLine line in o.Lines)
            {
    var result =@line.Product.Price*@line.Quantity;
    <tr>
        <td colspan="2"></td>
        <td data-th="Details">@line.Product.Name</td>
        <td data-th="Details">@line.Quantity</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td data-th="Total">Total: @result  </td>
    </tr>
            }
        }
</table>
}
else
{
<div class="text-center"> No hay envíos pendientes.</div>
}